body {
    background-color:lightgoldenrodyellow;
}

/* external styles are the least specific */

header {
    background:lightblue;
    margin:20px;
    padding:20px;
}

main {
    background:yellow;
    margin:20px;
    padding:20px;
}

/* classes are more specific than default tags, but less specific than ids */
.class {
    background:green;
}

/* ids are the most specific */
#id {
    background:yellowgreen;
}

/* rules higher on the stylesheet are less specific than rules lower */
footer {
    background:lightpink;
    margin:20px;
    padding:20px;
}

/* rules lower on the stylesheet are more specific than rules higher */
footer {
    background-color:lightseagreen;
}

